{% extends 'base.html' %}
{% block content %}
<p class="marquee ">{%for item in redin %}<span>{{item.rebine}}</span>{%endfor%}</p>


<div class="main_image-title">
    <div class="box1">
        {% for item in indexse1 %}
        <a href="{%url 'detail' item.id%}">
            <div class="imageWithTitle">
                <img src="/media/{{item.img}}" class="titleImg" alt="...">
                <div class="image-title">
                    <h4>{{item.headding}}</h4>
                </div>
            </div>
            </a>
        
        {% endfor %}
    </div>
    <div class="box2">
        {%for item in indexse2 %}
        <a href="{%url 'detail' item.id%}">
        <div class="custom-image-with-title">
            <section class="section1">
                <img src="/media/{{item.img}}" class="img-thumbnail" alt="...">
            </section>
            <section class="section2">
                <p>{{item.headding}}</p>
            </section>
        </div>
        </a>
        {% endfor %}
        {%for item in indexse3 %}
        <a href="{%url 'detail' item.id%}">
        <div class="custom-image-with-title">
            <section class="section1">
                <img src="/media/{{item.img}}" class="img-thumbnail" alt="...">
            </section>
            <section class="section2">
                <p>{{item.headding}}</p>
            </section>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="adSection1">
    <div class="card">
        <div class="card-header">
            जाहिरात
        </div>
        <div class="card-body">
            <h5 class="card-title">जाहिरात विभाग</h5>
            <p class="card-text">आम्ही वेबसाइटवरील जाहिराती स्वीकारू शकतो. जाहिरातींसाठी आमच्याशी खालील क्रमांक
                +91 96373 77616 वर संपर्क साधा</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
</div>


<!-- Top News Section -->
<div class="topNewsSection">
    <div class="topNewsTitle">
        <h2>शीर्ष बातम्या</h2>
    </div>
    <div class="news">
        <div class="nCards">
            {%for item in indexse4 %}
            <div class="card newsCard">
                <img src="/media/{{item.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.location}}</h5>
                    <a href="{%url 'detail' item.id%}">
                    <p class="card-text">{{item.headding}}</p>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{item.date}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Horizontal Adds section -->
<div class="adSection1">
    <div class="card">
        <div class="card-header">
            जाहिरात
        </div>
        <div class="card-body custom-card-body">
            <!-- <h5 class="card-title">जाहिरात विभाग</h5> -->
            <p class="card-text"><img
                    src="https://plus.unsplash.com/premium_photo-1664279047458-ace1fa02d6d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                    id="custom-ads-img" class="img-fluid custom-img-fluid" alt=""></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
</div>

<!-- Top News Section -->
<div class="topNewsSection">
    <div class="topNewsTitle">
        <h2>Sports</h2>
    </div>
    <div class="news">
        <div class="nCards">
            {% for item in indexse5 %}
            <div class="card newsCard">
                <img src="/media/{{item.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <h5 class="card-title">{{item.location}}</h5>
                    <a href="{%url 'detail' item.id%}">
                    <p class="card-text">{{item.headding}}</p>
                </a>

                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{item.date}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Horizontal Adds section -->
<div class="adSection1">
    <div class="card">
        <div class="card-header">
            जाहिरात
        </div>
        <div class="card-body custom-card-body">
            <!-- <h5 class="card-title">जाहिरात विभाग</h5> -->
            <p class="card-text"><img
                    src="https://plus.unsplash.com/premium_photo-1664279047458-ace1fa02d6d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                    class="img-fluid custom-img-fluid" alt=""></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
</div>

<!-- Horizontal Adds section -->

</div>

<!-- Top News Section -->
<div class="topNewsSection">
    <div class="topNewsTitle">
        <h2>राजकारण</h2>
    </div>
    <div class="news">
        <div class="nCards">
            {% for item in indexse6 %}
            <div class="card newsCard">
                <img src="/media/{{item.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.location}}</h5>
                    <a href="{%url 'detail' item.id%}">
                    <p class="card-text">{{item.headding}}</p>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{item.date}}</small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="adSection1">
        <div class="card">
            <div class="card-header">
                जाहिरात
            </div>
            <div class="card-body custom-card-body">
                <!-- <h5 class="card-title">जाहिरात विभाग</h5> -->
                <p class="card-text"><img
                        src="https://plus.unsplash.com/premium_photo-1664279047458-ace1fa02d6d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                        class="img-fluid custom-img-fluid" alt=""></p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>

<!-- Footer section -->
<footer>
    <div class="footerContainer">
        <p id="copyWrite">&copy;news.com 2023</p>
    </div>
</footer>

</html>
{% endblock %}