{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SP News</title>
    <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheet %}
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Draft</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/reject.html">Reject</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">In Approval</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/uploadded.html">Uploadded</a>
              </li>
            </ul>
            <form class="d-flex">
              <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 <img src="{% static 'icons/usericon.png' %}" style="width: 20px;">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Menu item</a></li> -->
                </ul>
              </div>
            </form>
          </div>
    
        </div>
      </nav>



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block content %}
</body>

</html>
{% endblock %}