{% extends 'adminbase.html' %}
{% load static %}
{% block stylesheet%}
<link rel="stylesheet"  href="{% static 'css/inprocess.css' %}">
{% endblock %}
{% block content %}
<div class="inbox">
  {% for item in aprovalitem%}
      <div class="items">
        <div class="itemInfo">
          <h5 class="item-Para"><span class="location">{{item.location}} : </span> {{item.headding}}</h5>
        </div>
  
    <div class="respone-btn">
      <a href="{%url 'delapproval' item.id%}" class="inbox-link"> <button type="button" class="btn btn-danger Reject-btn">Delete Request</button></a>
    </div>
  </div>
  {%endfor%}
  </div>
{% endblock %}