{% extends 'adminbase.html' %}
{% load static %}
{% block stylesheet%}
<link rel="stylesheet"  href="{% static 'css/reject.css' %}">
{% endblock %}
{% block content %}
{% for item in rejectitem%}
<div class="inbox">  
        <div class="items">
            <div class="itemInfo">
               
                <h5 class="item-Para"><span class="location">{{item.location}} : </span> {{item.headding}}</h5>
                <h6 class="item-Para">
                   {{item.rejectreason}}
                </h6>            
            </div>
    <div class="respone-btn">
        <a href="{% url 'redraft' item.id %}"><button  type="button" class="btn btn-success">Draft</button></a>
        <a href="{% url 'delreject' item.id %}"><button type="button" class="btn btn-danger Reject-btn">Delete</button></a>
    </div>
</div>
{% endfor %}
{% endblock %}