{% extends 'adminbase.html' %}
{% load static %}
{% block stylesheet%}
<link rel="stylesheet"  href="{% static 'css/style.css' %}">
<link rel="stylesheet"  href="{% static 'css/madminscalmailn.css' %}">
{% endblock %}
{% block content %}
<div class="inbox">
    <a href="/index.html" class="inbox-link">
      <div class="items">
        <div class="itemInfo">
          <h3 class="item-Title">This is title</h3>
          <h5 class="item-Para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam numquam incidunt
            exercitationem alias odit ipsa repellendus nemo, eos dolorum? Amet?</h5>
        </div>
    </a>
    <div class="respone-btn">
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger Reject-btn">Danger</button>
    </div>
  </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}